@import "tailwindcss";

@theme {
  /* Creating custom color names for your UoM palette */
  --color-uom-purple: #660099;
  --color-uom-purple-dark: #4d0073; /* A slightly darker shade for hover effects */
  
  --color-uom-yellow: #FFCC33;
  --color-uom-yellow-light: #ffdb66; /* A lighter shade for hover effects */
  
  --color-uom-grey: #999999;
}

.basic_button {
  @apply text-gray-700 hover:text-purple-600 font-bold transition duration-300 ease-in-out;
}